.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 12px;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
  font-weight: bold;
}

.Phonetics a:hover {
  background: gray;
  color: aliceblue;
}

.Phonetics .phoneticsText {
  opacity: 0.8;
  font-weight: bold;
}
